# Ignore Python virtual environments
venv/
.venv/

# Ignore pycache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore OS files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# Ignore environment files
.env
